//                              Primary
$blackColor: #000000;
$naturealColor: #404040;
$whiteColor: #ffffff;
//                                Zinc

$color100: #f4f4f5;
$color200: #e4e4e7;
$color300: #d4d4d8;
$color400: #71717a;
$color500: #27272a;
$color900: #18181B;

//                               Error Color
$errorColor: #ef4444;




$mainTextColor: $color900;


